header.title {
  background-color: #ea3c3d;
}

header.title h1 {
  color: white;
  margin: 0 auto;
  padding: 24px;
  max-width: 1120px;
}

header.about {
  background-color: #242b33;
}

header.about .container {
  overflow: hidden;
  max-width: 1150px;
  margin: 0 auto;
  padding: 12px 20px;
}

header.about p,
header.about a,
span {
  color: #55616d;
  margin: 0;
}

nav {
  width: 100%;
  background: #0d141d;
  height: 90px;
  min-width: 1050px;
}

nav > ul {
  background: darkorange;
  list-style: none;
  margin: 0;
  padding-left: 0;
  max-width: 1100px;
  margin: 0 auto;
}

nav > ul > li {
  color: #fff;
  background: #0d141d;
  display: block;
  float: left;
  position: relative;
  text-decoration: none;
  padding: 3rem 2.5rem;
  margin: 0;
}

nav > ul > li:hover {
  border-top: 3px solid white;
  cursor: pointer;
}

nav > ul > li > a {
  color: #8a989c;
  font-family: Exo, Arial Helvetica;
  text-decoration: none;
  font-size: 17px;
  font-weight: 300;
}
nav > ul > li ul {
  background: #f2f2f2;
  visibility: hidden;
  opacity: 0;
  min-width: 14rem;
  position: absolute;
  margin-top: 1rem;
  left: -20px;
  top: 77px;
  display: none;
}

nav > ul > li ul a {
  color: #5f5f5f;
  font-family: "Droid Serif", Arial Helvetica;
  text-decoration: none;
  font-size: 13px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}

nav > ul > li:hover > ul,
nav > ul > li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}

ul.dropdown li:hover ul.dropdown {
  visibility: visible;
  opacity: 1;
  display: block;
  left: 110px;
  top: -10px;
}

nav > ul > li ul li {
  clear: both;
  width: 100%;
  border-bottom: 1px solid #cecece;
  padding: 9px 0;
  margin: 0;
  position: relative;
}

nav > ul > li ul li ul li {
  background-color: #ddd;
  padding: 4px 0;
}

nav > ul > li ul li ul li a {
  font-size: 11px;
}

nav .logo {
  float: left;
  padding: 20px 0;
  height: 50px;
  margin-right: 20px;
}

main {
  height: 100%;
  min-height: 800px;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;

  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -ms-box-orient: horizontal;
  box-orient: horizontal;
}

aside {
  background-color: rgba(0, 0, 0, 0.01);
  border-right: 1px solid #eee;
  min-width: 260px;
  width: 30%;
  max-width: 475px;
  -ms-flex: 0 100px;
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  -ms-box-flex: 0;
  box-flex: 0;
  display: flex;
  justify-content: flex-end;
  padding-top: 30px;
  padding-right: 40px;
  box-sizing: border-box;
}

aside ul {
  list-style-type: square;
  width: 180px;
}

aside ul li,
aside ul ul {
  margin-top: 0;
  margin-bottom: 0;
}

aside ul a {
  color: #ff4141;
  text-decoration: none;
  font-family: "Droid Serif", serif;
  -webkit-font-smoothing: antialiased;
}

section {
  background: white;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 40px;
  padding-bottom: 40px;
  -ms-flex: 1;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-box-flex: 1;
  box-flex: 1;
}

footer {
  background-color: #eee;
  width: 100%;
  border-top: 1px solid #bbb;
  padding: 35px;
  box-sizing: border-box;
}

footer p {
  margin: 0;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

h1 {
  font-family: Exo, Arial, Helvetica;
  font-weight: 300;
  font-size: 50px;
  letter-spacing: -0.1px;
}

p {
  color: #626262;
  font-family: "Droid Serif", serif;
  font-size: 13px;
  line-height: 20px;
}
