img {
  max-width: 70%;
  margin: 40px auto;
  display: block;
}
header.about {
  background-color: #242b33;
}

header.about .container {
  max-width: 900px;
  margin: 0 auto;
  padding: 12px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header.about p,
header.about a,
span {
  color: #55616d;
  margin: 0;
}

header.title {
  background-color: #ea3c3d;
}

header.title h1 {
  color: white;
  margin: 0 auto;
  padding: 24px;
  max-width: 650px;
}

main {
  height: 100%;
  min-height: 800px;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;

  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -ms-box-orient: horizontal;
  box-orient: horizontal;
}

footer {
  background-color: #eee;
  width: 100%;
  border-top: 1px solid #bbb;
  padding: 35px 20px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

footer p {
  margin: 0;
}

@media (max-width: 700px) {
  .title {
    text-align: center;
  }

  .title h1 {
    font-size: 36px;
  }
}
