footer {
  margin: 100px auto;
  max-width: 800px;
}

main {
  height: 100%;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;

  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -ms-box-orient: horizontal;
  box-orient: horizontal;
}

.sidebar {
  background: #eee;
  border-right: 1px solid #ccc;
  width: 300px;
  -ms-flex: 0 100px;
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  -ms-box-flex: 0;
  box-flex: 0;
}

.content {
  background: aliceblue;
  -ms-flex: 1;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-box-flex: 1;
  box-flex: 1;
}

nav {
  width: 100%;
  background: #0d141d;
  height: 90px;
}

nav > ul {
  background: darkorange;
  list-style: none;
  margin: 0;
  padding-left: 0;
  max-width: 1100px;
  margin: 0 auto;
}

nav > ul > li {
  color: #fff;
  background: #0d141d;
  display: block;
  float: left;
  padding: 3rem 2.5rem;
  position: relative;
  text-decoration: none;
}

nav > ul > li > a {
  color: #8a989c;
  font-family: Exo, Arial Helvetica;
  text-decoration: none;
  font-size: 17px;
  font-weight: 300;
}

nav > ul > li:hover {
  border-top: 3px solid white;
  cursor: pointer;
}

nav > ul > li ul {
  background: #f2f2f2;
  visibility: hidden;
  opacity: 0;
  min-width: 14rem;
  position: absolute;
  margin-top: 1rem;
  left: -20px;
  top: 77px;
  padding-top: 11px;
  display: none;
}

nav > ul > li ul a {
  color: #5f5f5f;
  font-family: "Droid Serif", Arial Helvetica;
  text-decoration: none;
  font-size: 13px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}

nav > ul > li:hover > ul,
nav > ul > li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}

nav > ul > li ul li {
  clear: both;
  width: 100%;
  border-bottom: 1px solid #cecece;
  padding: 0px 0 9px;
}

nav .logo {
  float: left;
  padding: 20px 0;
  height: 50px;
  margin-right: 20px;
}

.banner {
  background-color: #ea3c3d;
}

h1 {
  font-family: Exo, Arial, Helvetica;
  font-weight: 300;
  font-size: 50px;
  letter-spacing: -0.1px;
}

.banner h1 {
  color: white;
  margin: 0 auto;
  padding: 24px;
  max-width: 1120px;
}

header {
  background-color: #242b33;
}

header .container {
  overflow: hidden;
  max-width: 1150px;
  margin: 0 auto;
  padding: 12px 20px;
}

header p,
header a,
span {
  color: #55616d;
  margin: 0;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

p {
  color: #626262;
  font-family: "Droid Serif", serif;
  font-size: 13px;
  line-height: 20px;
}
